.container-fluid{
    background-image: url("../assets/FONDO_(NOSOTROS).png");
    background-size: 100% 100%;
    background-color: #cccccc;
    padding-top: 5%;
    height: 90%;
}

footer {
	height: 10%;
	width: 100%;
	text-align: center;	
}
#label{
	color: black;
}

#Menu{
    text-align: center;
    font-size: 160%;
    padding-top: 5%;
}
#Side-Menu{
    text-align: right;
}
#Info{
	padding-top: 3%;
}

pre,p,a{
    font-size: 80%;
    font-family:arial;
    color: white;
}
h5{
	color: white;
    font-size: 75%;
    font-weight: 200;
    font-family: arial-black;
}
