.container-fluid{
    background-image: url("../assets/FONDO_NOSOTROS.png");
    background-size: 100% 100%;
    background-color: #cccccc;
    padding-top: 2%;
    height: auto;
}
#Content-Row{
    height: 100%;
    padding-left: 5%;
}

footer {
	height: 10%;
	width: 100%;
	text-align: center;	
    position: relative;
}
#label{
	color: black;
}

#Menu{
    text-align: center;
    font-size: 160%;
    padding-top: 5%;
}

pre,p,a{
    font-size: 80%;
    font-family:arial;
    color: black;
}
h5{
	color: black;
    font-size: 75%;
    font-weight: 200;
    font-family: arial-black;
}