.container-fluid{
    background-image: url("../assets/FONDO_PREMIOS.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cccccc;
    padding-top: 5%;
    height: 90%;
}

footer {
	height: 10%;
	width: 100%;
}
#label{
	color: black;
}

#Menu{
    text-align: center;
    font-size: 160%;
    padding-top: 5%;
}
#Side-Menu{
    text-align: right;
}
#Info{
	padding-top: 3%;
}

p,a{
    font-size: 65%;
    font-family: Avantgarde;
    color: black;
}
h5{
	color: black;
    font-size: 80%;
    font-weight: 200;
    font-family: "Avant Garde";
}
