.container-fluid{
    background-image: url("../assets/FONDO_(NOSOTROS).png");
    background-size: 100% 100%;
    background-color: #cccccc;
    padding-top: 5%;
    height: 90%;
}

footer {
    height: 10%;
    width: 100%;
    text-align: center; 
}
#label{
    color: black;
}

#Menu{
    text-align: center;
    font-size: 80%;
    padding-top: 5%;
}
#Side-Menu{
    text-align: right;
}
#Info{
    padding-top: 3%;
}

#link{
    font-size: 125%;
    font-family: Avantgarde;
    color: white;
}

h5{
    color: white;
    font-size: 80%;
    font-weight: 200;
    font-family: "Avant Garde";
}

.logo{
    width: 100px;
    height: 100px;
}